{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <h3>Commentaires</h3>
    {% for comment in comments %}
        <button class="btn btn-default"><a  href="{{ path('comment', {'articleId': article.id, 'commentId': comment.id}) }}">{{ comment.author.username }}</a></button> dit : {{ comment.content }}<br>
        <p class="divider"></p>
        {{ form_start(checkboxForm) }}
            {{ form_label(checkboxForm.content, 'checkbox') }}
            {{ form_errors(checkboxForm.content) }}
            {{ form_widget(checkboxForm.content) }}
        {{ form_end(checkboxForm) }}

    {% else %}
        Pas de commentaires
    {% endfor %}

    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <br>
    {% else %}
        <br><button id="show" class="btn btn-default">Ajouter un commentaire</button>
    {%  endif %}


        {% if commentForm %}
        <div id="commentForm">
            {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control textarea reset',
                }}) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary publish" value="Publiez le commentaire" >Publiez le commentaire</button>
                <button onclick="reset();" type="button" class="btn btn-warning">Reset</button>
            </div>

            {{ form_end(commentForm) }}
        </div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un commentaire.
    {% endif %}
</p>
{% endblock %}