{% extends "layout.html.twig" %}

{% block title %}{{ comment.author.username }}{% endblock %}

{% block content %}


    <h2>{{ comment.content }}</h2>
    <h4>{{ comment.author.username }}</h4>


    <h3>Commentaires</h3>

    <div>
        {% for comment in comments %}
            <div class="child" id="{{ comment.id }}">
                <button type="button" class="btn btn-warning " title="Moderate" data-toggle="modal" data-target="#moderateDialog{{ comment.id }}">Signaler</span>
                </button>
                <div class="modal fade" id="moderateDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                Confirmez la demande de modération
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <a href="{{ path('moderation', { 'commentId': comment.id , 'articleId': article.id}) }}" class="btn btn-danger">Confirmer</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <button class="btn btn-default "><a  href="{{ path('comment', {'articleId': article.id, 'commentId': comment.id}) }}">{{ comment.author.username }}</a></button> dit : {{ comment.content }}
                <br>

                <p class="divider"></p>
            </div>
        {% else %}
            Pas de commentaires
        {% endfor %}
    </div>

    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <br>
    {% else %}
        <br><button id="show" class="btn btn-default">Ajouter un commentaire</button>
    {%  endif %}


    {% if commentForm %}
        <div id="commentForm">
            {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control textarea reset',
                }}) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary publish" value="Publiez le commentaire" >Publiez le commentaire</button>
                <button onclick="reset();" type="button" class="btn btn-warning">Reset</button>
            </div>

            {{ form_end(commentForm) }}
        </div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un commentaire.
    {% endif %}
    </p>
{% endblock %}