<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('/lib/bootstrap/css/theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/mon_cms.css') }}" rel="stylesheet">
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <title>Mon cms - {% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">Mon cms</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-target">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('logout') }}">Deconnection</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Non connecté <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('login') }}">Log in</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="footer">
    </footer>
</div>
{% block javascripts %}
<!-- jQuery -->
<script type="text/javascript" src={{ asset('lib/tinymce/tinymce.min.js') }}></script>.
<script type="text/javascript">
        tinymce.init({
            forced_root_block : "",
            selector: 'textarea',
            language: 'fr_FR',
            statusbar: false,
            menu: {
                file: {title: 'File', items: 'newdocument'},
                edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall'},
                insert: {title: 'Insert', items: 'link media | template hr'},
                view: {title: 'View', items: 'visualaid'},
                format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
                table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'},
                tools: {title: 'Tools', items: 'spellchecker code'}},
            toolbar: false
            });
</script>
<script type="text/javascript">
    tinyMCE.init({
        forced_root_block : "",
        language: 'fr_FR',
        selector: 'input#article_title',
        toolbar: false,
        statusbar: false,
        menu: {
            file: {title: 'File', items: 'newdocument'},
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall'},
            insert: {title: 'Insert', items: 'link media | template hr'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'},
            tools: {title: 'Tools', items: 'spellchecker code'}}
    });

</script>
<script type="text/javascript">

    function reset() {
        for (var i = 0;i < tinyMCE.editors.length; i++) {
            var instances = tinyMCE.editors[i];
            var target = instances.targetElm;
            var hasClass = $(target).hasClass("reset");
            if (hasClass) {
                instances.setContent('');
            }
        }
    }
</script>
<script type="text/javascript">

    $('.publish').click(function(e) {
        for (var i = 0;i < tinyMCE.editors.length; i++) {
            if (tinyMCE.activeEditor.getContent() === '') {
                $("#comment_content").attr('required','');
                alert ("remplissez le champ");
                e.preventDefault();
            }
            else if (tinyMCE.activeEditor.getContent() !== ''){
                $("#comment_content").removeAttr('required','');
            }
        }

    });
</script>
<script type="text/javascript">
    /*toggle comment form*/
    $("#commentForm").css('display','none');
    $( "#show" ).click(function() {
        $( "#commentForm" ).toggle("fade");
    });
</script>
<script>
    /*clean forms on load*/
   window.addEventListener("load", function (event) {
       console.log("hello");
       tinyMCE.activeEditor.setContent('');
   });
</script>

<!-- JavaScript Boostrap plugin -->
<script src="{{ asset('/lib/bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
